<form method="post" action="{{ path('allergene_recette_delete', {'id': allergene_recette.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ allergene_recette.id) }}">
    <button class="btn">Delete</button>
</form>
